br-ex: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 8942
        inet 172.25.250.12  netmask 255.255.255.0  broadcast 172.25.250.255
        inet6 fe80::5054:ff:fe02:fa0c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:02:fa:0c  txqueuelen 1000  (Ethernet)
        RX packets 403  bytes 52179 (50.9 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 350  bytes 34594 (33.7 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

br-prov1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 8942
        inet6 fe80::5054:ff:fe03:c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:03:00:0c  txqueuelen 1000  (Ethernet)
        RX packets 916  bytes 124774 (121.8 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 19  bytes 1482 (1.4 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

br-prov2: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 8942
        inet6 fe80::5054:ff:fe04:c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:04:00:0c  txqueuelen 1000  (Ethernet)
        RX packets 906  bytes 124102 (121.1 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 19  bytes 1482 (1.4 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

br-trunk: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet6 fe80::5054:ff:fe01:c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:01:00:0c  txqueuelen 1000  (Ethernet)
        RX packets 147  bytes 7860 (7.6 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 19  bytes 1482 (1.4 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 8942
        inet 172.25.249.53  netmask 255.255.255.0  broadcast 172.25.249.255
        inet6 fe80::5054:ff:fe00:f90c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:00:f9:0c  txqueuelen 1000  (Ethernet)
        RX packets 13335  bytes 720442 (703.5 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 24  bytes 1664 (1.6 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

eth1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet6 fe80::5054:ff:fe01:c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:01:00:0c  txqueuelen 1000  (Ethernet)
        RX packets 64329  bytes 745741167 (711.1 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 63576  bytes 1819996505 (1.6 GiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

eth2: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 8942
        inet6 fe80::5054:ff:fe02:fa0c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:02:fa:0c  txqueuelen 1000  (Ethernet)
        RX packets 440  bytes 60997 (59.5 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 344  bytes 34650 (33.8 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

eth3: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 8942
        inet6 fe80::5054:ff:fe03:c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:03:00:0c  txqueuelen 1000  (Ethernet)
        RX packets 966  bytes 142328 (138.9 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 28  bytes 2152 (2.1 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

eth4: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 8942
        inet6 fe80::5054:ff:fe04:c  prefixlen 64  scopeid 0x20<link>
        ether 52:54:00:04:00:0c  txqueuelen 1000  (Ethernet)
        RX packets 965  bytes 142001 (138.6 KiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 28  bytes 2152 (2.1 KiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

genev_sys_6081: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 65000
        inet6 fe80::a8c0:17ff:fec1:6a3c  prefixlen 64  scopeid 0x20<link>
        ether aa:c0:17:c1:6a:3c  txqueuelen 1000  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 19  dropped 0 overruns 0  carrier 0  collisions 0

lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
        inet 127.0.0.1  netmask 255.0.0.0
        inet6 ::1  prefixlen 128  scopeid 0x10<host>
        loop  txqueuelen 1000  (Local Loopback)
        RX packets 23805  bytes 2164016 (2.0 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 23805  bytes 2164016 (2.0 MiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

vlan10: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.24.1.12  netmask 255.255.255.0  broadcast 172.24.1.255
        inet6 fe80::186e:c5ff:fefa:ab2c  prefixlen 64  scopeid 0x20<link>
        ether 1a:6e:c5:fa:ab:2c  txqueuelen 1000  (Ethernet)
        RX packets 45005  bytes 712991066 (679.9 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 18851  bytes 4928568 (4.7 MiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

vlan20: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.24.2.12  netmask 255.255.255.0  broadcast 172.24.2.255
        inet6 fe80::5895:d0ff:fe76:d899  prefixlen 64  scopeid 0x20<link>
        ether 5a:95:d0:76:d8:99  txqueuelen 1000  (Ethernet)
        RX packets 5  bytes 280 (280.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 14  bytes 964 (964.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

vlan30: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.24.3.12  netmask 255.255.255.0  broadcast 172.24.3.255
        inet6 fe80::8cba:25ff:fe54:3a21  prefixlen 64  scopeid 0x20<link>
        ether 8e:ba:25:54:3a:21  txqueuelen 1000  (Ethernet)
        RX packets 19016  bytes 31576479 (30.1 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 44668  bytes 1814809607 (1.6 GiB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

vlan50: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.24.5.12  netmask 255.255.255.0  broadcast 172.24.5.255
        inet6 fe80::9408:35ff:fee6:1900  prefixlen 64  scopeid 0x20<link>
        ether 96:08:35:e6:19:00  txqueuelen 1000  (Ethernet)
        RX packets 6  bytes 336 (336.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 14  bytes 964 (964.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

# BEGIN ANSIBLE MANAGED BLOCK
172.24.3.3 ceph0.overcloud.example.com ceph0
172.24.3.3 ceph0.storage.overcloud.example.com ceph0.storage
172.24.4.3 ceph0.storagemgmt.overcloud.example.com ceph0.storagemgmt
172.25.250.3 ceph0.external.overcloud.example.com ceph0.external
172.24.5.3 ceph0.management.overcloud.example.com ceph0.management
172.25.249.58 ceph0.ctlplane.overcloud.example.com ceph0.ctlplane
172.24.1.2 compute0.overcloud.example.com compute0
172.24.3.2 compute0.storage.overcloud.example.com compute0.storage
172.24.1.2 compute0.internalapi.overcloud.example.com compute0.internalapi
172.24.2.2 compute0.tenant.overcloud.example.com compute0.tenant
172.25.250.2 compute0.external.overcloud.example.com compute0.external
172.24.5.2 compute0.management.overcloud.example.com compute0.management
172.25.249.59 compute0.ctlplane.overcloud.example.com compute0.ctlplane
172.24.1.12 compute1.overcloud.example.com compute1
172.24.3.12 compute1.storage.overcloud.example.com compute1.storage
172.24.1.12 compute1.internalapi.overcloud.example.com compute1.internalapi
172.24.2.12 compute1.tenant.overcloud.example.com compute1.tenant
172.25.250.12 compute1.external.overcloud.example.com compute1.external
172.24.5.12 compute1.management.overcloud.example.com compute1.management
172.25.249.53 compute1.ctlplane.overcloud.example.com compute1.ctlplane
172.24.1.6 computehci0.overcloud.example.com computehci0
172.24.3.6 computehci0.storage.overcloud.example.com computehci0.storage
172.24.4.6 computehci0.storagemgmt.overcloud.example.com computehci0.storagemgmt
172.24.1.6 computehci0.internalapi.overcloud.example.com computehci0.internalapi
172.24.2.6 computehci0.tenant.overcloud.example.com computehci0.tenant
172.25.250.6 computehci0.external.overcloud.example.com computehci0.external
172.24.5.6 computehci0.management.overcloud.example.com computehci0.management
172.25.249.54 computehci0.ctlplane.overcloud.example.com computehci0.ctlplane
172.24.1.1 controller0.overcloud.example.com controller0
172.24.3.1 controller0.storage.overcloud.example.com controller0.storage
172.24.4.1 controller0.storagemgmt.overcloud.example.com controller0.storagemgmt
172.24.1.1 controller0.internalapi.overcloud.example.com controller0.internalapi
172.24.2.1 controller0.tenant.overcloud.example.com controller0.tenant
172.25.250.1 controller0.external.overcloud.example.com controller0.external
172.24.5.1 controller0.management.overcloud.example.com controller0.management
172.25.249.56 controller0.ctlplane.overcloud.example.com controller0.ctlplane

172.25.249.200 director.ctlplane.overcloud.example.com director.ctlplane
172.25.249.50  ctlplane.overcloud.example.com
172.24.3.50  storage.overcloud.example.com
172.24.4.50  storagemgmt.overcloud.example.com
172.24.1.50  internalapi.overcloud.example.com
172.25.250.50  overcloud.example.com
# END ANSIBLE MANAGED BLOCK
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
Kernel IP routing table
Destination     Gateway         Genmask         Flags   MSS Window  irtt Iface
0.0.0.0         172.25.250.254  0.0.0.0         UG        0 0          0 br-ex
169.254.169.254 172.25.249.200  255.255.255.255 UGH       0 0          0 eth0
172.24.1.0      0.0.0.0         255.255.255.0   U         0 0          0 vlan10
172.24.2.0      0.0.0.0         255.255.255.0   U         0 0          0 vlan20
172.24.3.0      0.0.0.0         255.255.255.0   U         0 0          0 vlan30
172.24.5.0      0.0.0.0         255.255.255.0   U         0 0          0 vlan50
172.25.249.0    0.0.0.0         255.255.255.0   U         0 0          0 eth0
172.25.250.0    0.0.0.0         255.255.255.0   U         0 0          0 br-ex
